.nft-details {
  position: relative;
  height: 100%;
  overflow-y: scroll;
}

.nft {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

.nft .yellow {
  font-weight: bold;
  margin: 0 auto 8px;
  transition: all 0.2;
}

.nft p {
  margin-bottom: 8px;
}

.nft-image {
  width: 80%;
  margin: 0 auto 30px;
  animation: aura 7s ease 0s infinite normal none;
}

.nft-close {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  transform: rotate(180deg);
}
