.header .wallet-info {
  width: 70%;
  font-size: 12px;
  border: 3px solid var(--gray);
  border-radius: 20px;
}

.header .wallet-info div {
  padding: 8px 0px 8px 10px;
  border-radius: 20px;
}

.header .wallet-info .wallet-connection {
  width: 20%;
  padding: 12px;
}

.header .wallet-info .wallet-balance {
  width: 52%;
  background-color: var(--gray);
}

.header .wallet-info .wallet-address {
  margin-left: -30px;
  background-color: var(--main-bg-color);
}

.header .wallet-info img {
  width: 15px;
  border-radius: 20px;
}

.header .side-options {
  width: 29%;
}

.header .side-options img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}