.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 15px 15px 0;
  background-color: #1c1121;
  border-bottom: 2px solid #3a3042;
}

.navbar .logo img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px solid #e4a101;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar .logo h2 {
  font-family: 'Oxanium', cursive;
  font-weight: 800;
  font-size: 24px;
  margin-top: 7px;
}

.navbar .logo h2 span {
  font-size: 24px;
  color: #e4a101;
}

.navbar-nav li a {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  color: #fff;
  display: block;
  float: left;
  margin: 0;
  padding: 18px 5%;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.nav-item img {
  width: 30px;
  border-radius: 50%;
}

.connect-btn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 83px;
  color: var(--white);
  transition: all 0.25s;
  cursor: pointer;
  border-bottom: 3px solid #3a3042;
}

.connect-btn:hover {
  background-color: var(--yellow);
}

.connect-btn img {
  width: 30px;
  margin-right: 12px;
}