.nft-room {
  height: 100%;
  width: 340px;
  overflow-y: scroll;
  position: relative;
}

.collection-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: var(--yellow);
  padding: 0 0 10px;
  animation: only-aura 7s ease 0s infinite normal none;
}

.collection-description {
  font-size: 14px !important;
  color: #fff !important;
  padding: 0 8px;
  margin-bottom: 28px;
}

.nft-hall .yellow {
  color: var(--light-gray);
  margin: 0;
}

.nft-hall .yellow:hover {
  color: var(--yellow);
  filter: drop-shadow(0 0 4px var(--yellow));
  text-shadow: 0 0 0 var(--yellow);
}

.collection {
  width: 100%;
  margin: auto;
  margin-bottom: 24px;
}

.nft-card {
  text-align: center;
  margin-bottom: 16px;
}

.nft-card img {
  width: 85%;
  object-fit: cover;
  margin: 0 auto 6px;
  animation: only-aura 10s ease 0s infinite normal none;
}

.nft-card p {
  font-weight: bold;
  font-size: 13px;
}

@keyframes aura {
  0%,
  50%,
  100% {
    transform: translate(0, -2px);
    filter: drop-shadow(0 0 2px var(--yellow));
  }
  25%,
  75% {
    transform: translate(0, 2px);
    filter: drop-shadow(0 0 8px var(--yellow));
  }
}

@keyframes only-aura {
  0%,
  50%,
  100% {
    filter: drop-shadow(0 0 0px var(--yellow));
  }
  25%,
  75% {
    filter: drop-shadow(0 0 5px var(--yellow));
  }
}

.nft-owner.section-tab,
.nft-collection.section-tab {
  margin-top: 20px;
  padding: 40px 15px 15px;
}
