.MyNfts {
  
}

.collection {
  width: 100%;
}

.nft-card {
  text-align: center;
  margin-bottom: 16px;
}

.nft-card img {
  width: 85%;
  object-fit: cover;
  margin: 0 auto 6px;
}

.nft-card p {
  font-weight: bold;
  font-size: 13px;
}