.transactions {
  padding: 15px 0;
}

.transactions h4 {
  font-family: 'Oxanium', sans-serif;
}

.transaction {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 12px;
  background-color: var(--light-green);
}

.transaction .send-receive-pic {
  width: 30px;
  height: 30px;
  margin-right: 17px;
}
