@import url('https://fonts.googleapis.com/css?family=Oxanium:400,500,600,700,800|Poppins:400,400i,500,500i,600,600i,700,700i&display=swap');

:root {
  --main-bg-color: #1d1428;
  --yellow: #e4a101;
  --white: #fff;
  --light-green: #190e22;
  --light-gray: #90949c;
  --black: #161623;
  --black-bold: #000;
  --warning: #ed6444;
}

* {
  transition: all 0.25s;
}

body {
  color: var(--white);
  background-color: var(--main-bg-color);
  background-image: url('./assets/img/bg/breadcrumb_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 100px;
  background-position: center;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

#content {
  width: 100%;
  max-width: 425px;
  margin: auto;
  padding: 83px 15px 20px;
}

p {
  font-size: 14px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--white);
}

span {
  font-size: 14px;
}

input {
  width: 100%;
  margin: 0;
  padding: 20px 15px;
  text-align: left;
  color: var(--white);
  border: 0;
  border-bottom: 3px solid var(--yellow);
  background-color: var(--light-green);
}

input::placeholder {
  color: var(--white);
}

button {
  font-weight: 500;
  border: 0;
  background-color: var(--main-bg-color);
}

.flip-pic {
  transform: scaleX(-1);
}

.alert-text {
  display: block;
  text-align: center;
  font-size: 14px;
  color: var(--warning);
}

.main-button {
  font-family: 'Oxanium', sans-serif;
  width: 100%;
  display: block;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  color: var(--white);
  border-radius: 3px;
  border: 0;
  background-color: var(--light-green);
  border-bottom: 3px solid var(--yellow);
  cursor: pointer;
  transition: all 0.25s;
}

.main-button:disabled {
  color: var(--light-gray);
  border: 3px solid var(--light-green);
  background-color: var(--main-bg-color);
}

.main-button:hover {
  color: var(--main-bg-color);
  background-color: var(--yellow);
}

.secondary-button {
  width: 98%;
  display: block;
  height: 50px;
  padding: 12px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  color: var(--white);
  background-color: var(--light-green);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.25s;
}

.secondary-button:disabled {
  color: var(--light-gray);
  border: 3px solid var(--light-green);
  background-color: var(--main-bg-color);
}

.secondary-button:hover {
  color: var(--white);
  animation: only-aura 4s ease 0s infinite normal none;
}

.yellow {
  color: var(--yellow);
  transition: all 0.25s;
}

.yellow:hover {
  color: var(--yellow);
  text-shadow:0 0 15px var(--yellow);
}

.yellow-border {
  animation: inneraura 3s infinite;
}

.gray {
  color: var(--light-gray);
  transition: all 0.25s;
}

.gray:hover {
  color: var(--light-gray);
  text-shadow:0 0 20px var(--light-gray);
}

#__react-alert__ div div div {
  color: var(--white) !important;
  background-color: var(--main-bg-color) !important;
  border-radius: 3px !important;
  font-family: 'Poppins', sans-serif !important;
  text-transform: initial !important;
  font-weight: bold !important;
  border: 3px solid var(--yellow) !important;
}

#__react-alert__ div div div svg {
  stroke: var(--yellow) !important;
}

#__react-alert__ div div div svg:hover {
  stroke: var(--light-gray) !important;
}

/* Section tabs */

.section-title {
  font-family: 'Oxanium', sans-serif;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 0;
  line-height: 1;
  letter-spacing: -2px;
}

.section-title h2 span {
  font-size: 36px;
  color: #e4a101;
}

.section-title > span {
  display: block;
  font-family: 'Poppins', sans-serif !important;
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
  color: #c8c8c8;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.title-style-two {
  padding-bottom: 35px;
  position: relative;
  margin: 30px auto 40px;
}

.title-style-two::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url('./assets/img/images/title_bar.png');
  width: 270px;
  height: 13px;
  background-repeat: no-repeat;
}

.title-style-two.text-center::before {
  right: 0;
  margin: 0 auto;
}

.section-tab {
  margin: 0 0 30px;
  padding: 40px 20px;
  border-radius: 3px;
  background-color: var(--main-bg-color);
  filter: drop-shadow(0 0 20px var(--black));
}

.section-tab .title {
  font-family: 'Oxanium', sans-serif;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
  padding-right: 5px;
}

.section-tab .title span {
  font-size: 18px;
  color: var(--yellow);
}

.section-tab .subtitle {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.7;
  color: var(--light-gray);
}

.section-tab img {
  border-radius: 50%;
}

.product-tag {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  color: #1c1121;
  height: 30px;
  line-height: 30px;
  display: block;
  padding: 0 20px;
  color: #e4a101;
  display: inline-block;
  position: relative;
  z-index: 0;
  margin-bottom: 24px;
}

.product-tag ::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: skewX(-10deg);
  z-index: -1;
  right: 0;
  margin: 0 auto;
  background: #3a3042;
  transition: all 0.3s ease-out 0s;
}

@keyframes inneraura {
  0% { box-shadow: 0px 4px 5.58px 0.42px rgb(0 0 0 / 13%), inset 0px 1px 10px 0px rgb(228 161 1 / 17%); }
  50% { box-shadow: 0px 4px 5.58px 0.42px rgb(0 0 0 / 13%), inset 0px 1px 16px 0px rgb(228 161 1 / 17%); }
  100% { box-shadow: 0px 4px 5.58px 0.42px rgb(0 0 0 / 13%), inset 0px 1px 10px 0px rgb(228 161 1 / 17%); }
}