@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

:root {
  --main-bg-color: #18181d;
  --yellow: #fdc215;
  --white: #fff;
  --gray: #2c2c36;
  --light-gray: #9d9da9;
  --dark-gray: #3e3c46;
  --black: #161623;
  --light-black: rgb(32, 33, 45);
  --black-bold: #000;
}

body {
  color: var(--white);
  background-color: var(--main-bg-color);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#content {
  max-width: 320px;
  height: 450px;
}

a {
  text-decoration: none;
  color: var(--white);
}

input {
  width: 100%;
  font-weight: 500;
  padding: 8px;
  margin-bottom: 12px;
  text-align: center;
  border-radius: 12px;
  color: var(--white);
  border: 3px solid var(--gray);
  background-color: var(--main-bg-color);
}

input::placeholder {
  font-weight: 500;
  color: var(--light-gray);
}

button {
  font-weight: 500;
  border: 0;
  background-color: var(--main-bg-color);
}
