@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

:root {
  --main-bg-color: #18181d;
  --yellow: #fdc411;
  --white: #fff;
  --gray: #7f7f89;
  --dark-gray: #3e3c46;
  --black: #161623;
  --light-black: rgb(32, 33, 45);
  --black-bold: #000;
}

body {
  color: var(--white);
  background-color: var(--main-bg-color);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  max-width: 320px;
}

a {
  text-decoration: none;
  color: var(--white);
}
