.manage-rewards {
  margin: 30px 0;
  padding: 30px 15px 15px;
}

.manage-rewards .pic {
  width: 25px;
  height: 25px;
  margin: auto 5px auto 0;
  filter: drop-shadow(0 0 4px var(--yellow));
  border-radius: 50%;
}

.manage-rewards .reward-pic {
  width: 100%;
  margin: 0 auto;
  animation: aura 5s ease 0s infinite normal none;
}

.manage-rewards .reward-information {
  text-align: left;
}
