.pet {
  position: absolute;
  width: 31%;
  z-index: 1;
  right: 34%;
  top: 4%;
  filter: drop-shadow(0 0 20px var(--black));
}

.invest-box {
  text-align: center;
  margin-top: 78px;
  padding: 80px 15px 15px;
  border-radius: 25px;
  background-color: var(--light-green);
  filter: drop-shadow(0 0 20px var(--black));
}

.invest-box .you-pay,
.invest-box .you-receive {
  border-radius: 20px;
  background-color: var(--main-bg-color);
}

.invest-box .you-pay div,
.invest-box .you-receive div {
  width: 33%;
  height: 55px;
}

.invest-box input {
  margin: 0;
  border: var(--light-green);
  border-radius: 25px;
}

.invest-box .exchange-icon div:first-of-type,
.invest-box .exchange-icon div:last-of-type {
  background-color: var(--light-green);
  width: 10%;
  z-index: 1;
}

.invest-box .exchange-icon div:first-of-type {
  border-radius: 0 20px 20px 0;
  position: relative;
  left: 16px;
}

.invest-box .exchange-icon div:last-of-type {
  border-radius: 20px 0 0 20px;
  position: relative;
  right: 15px;
}

.invest-box .exchange-icon-img {
  width: 35%;
  background-color: var(--main-bg-color);
}

.invest-box .exchange-icon img {
  width: 35px;
  transform: rotate(90deg);
}

.invest-box .main-button {
  margin-top: 20px;
}

.invest-box .token-pic {
  width: 25px;
  height: 25px;
  margin: 0 8px 0 12px;
}

.invest-box .title-input {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 53px;
  left: 4px;
  color: var(--light-gray);
}

.invest-box .gas-container {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--main-bg-color);
}

.invest-box .gas-pic {
  width: 25px;
}

.invest-box .cost,
.invest-box .transaction-cost-title {
  display: block;
  text-align: left;
}

.invest-box .transaction-cost-title {
  font-size: 12px;
  font-weight: bold;
  color: var(--light-gray);
}
