.news-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.new {
  cursor: pointer;
  border-radius: 3px;
  border: 5px solid var(--light-green);
  margin-bottom: 40px;
  transition: all 0.25s;
  color: var(--main-bg-color);
  background-color: var(--main-bg-color);
}

.new:hover {
  border-color: var(--yellow);
  color: var(--white);
  background-color: var(--yellow);
}

.new img {
  width: 100%;
  height: 150px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}

.new h5 {
  padding: 16px 10px 10px;
  text-align: center;
}

.new a:hover {
  color: var(--main-bg-color);
}
