.new-contract .terms {
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: var(--light-green);
}

.new-contract .terms .pic {
  width: 25px;
  height: 25px;
  margin: 0 0 0 8px;
}

.new-contract .you-stake {
  padding: 0 18px;
}

.new-contract .you-stake div {
  height: 55px;
}

.new-contract input {
  text-align: right;
  border: 0;
  margin: 0;
}

.new-contract .you-stake input {
  width: 70px;
}
